/* #image1, #image2, #image3 {
    width: 30%;
    vertical-align: top;
    display: inline-block;
} */

.carousel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* width: 300px;
    height: 300px; */
}