div {
<<<<<<< HEAD
    vertical-align: top;
    display: flex;
    justify-content: center;
}

img {
    width: 350px;
    height: 350px;
}
=======
    display: flex;
    /* width: 300px; */
    vertical-align: top;
}
img {
    width: 350px;
    height: 350px;
}
>>>>>>> de592b88f66ff5f55c8e72cafdcd1b7252a3259b
